@page "/edituser"

@using Radzen.Blazor

<div class="container">

    @if (FormUser == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <div class="col-12 col-md-8 mt-1">

            <EditForm EditContext="@EditContext" OnValidSubmit="Save">
                <FluentValidationValidator />
                @*            <ValidationSummary />*@

            <RadzenFieldset Text="Edit User">
                @if (!string.IsNullOrWhiteSpace(ModelError))
                {
                    <div class="alert alert-danger" role="alert">
                        @ModelError
                    </div>}

                <div class="row" style="margin-bottom: 8px">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Name" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%; display: block" Name="Name" @bind-Value=@FormUser.Name />
                        <ValidationMessage For="@(() => FormUser.Name)" />
                    </div>
                </div>
                <div class="row" style="margin-bottom: 8px">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Email" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%; display: block" Name="Email" @bind-Value=@FormUser.Email />
                        <ValidationMessage For="@(() => FormUser.Email)" />
                    </div>
                </div>
                <div class="row" style="margin-bottom: 8px">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Current Password" />
                    </div>
                    <div class="col-md-8">
                        <RadzenPassword style="width: 100%" Name="OldPassword" @bind-Value=@FormUser.OldPassword />
                        <ValidationMessage For="@(() => FormUser.OldPassword)" />
                    </div>
                </div>
                <div class="row" style="margin-bottom: 8px">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="New Password" />
                    </div>
                    <div class="col-md-8">
                        <RadzenPassword style="width: 100%" Name="NewPassword" @bind-Value=@FormUser.NewPassword />
                        <ValidationMessage For="@(() => FormUser.NewPassword)" />
                    </div>
                </div>
                <div class="row" style="margin-bottom: 8px">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Confirm Password" />
                    </div>
                    <div class="col-md-8">
                        <RadzenPassword style="width: 100%" Name="NewPassword" @bind-Value=@FormUser.ConfirmPassword />
                        <ValidationMessage For="@(() => FormUser.ConfirmPassword)" />
                    </div>
                </div>
                <div class="row" style="margin-bottom: 8px">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Telefon" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%;" Name="PhoneNumber" @bind-Value=@FormUser.PhoneNumber />
                        <ValidationMessage For="@(() => FormUser.PhoneNumber)" />
                    </div>
                </div>

                <div class="row justify-content-end">
                    <button class="btn btn-success" disabled="@IsSaveButtonDisabled"
                            type="submit">
                        Save
                    </button>
                    <button class="btn btn-danger" disabled="@IsCancelButtonDisabled" @onclick="Cancel"
                            type="button" style="display: inline-block; margin-left: 10px;">
                        Cancel
                    </button>
                </div>
            </RadzenFieldset>
            </EditForm>
        </div>
    }

</div>